{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 mb-4">

    <h1 class="mb-4">Upload New Scan for Tumor Prediction</h1>

    <div class="row bg-light p-4 justify-content-around rounded shadow-sm">

        <!-- Upload Section -->
        <div class="col-sm-5 d-flex flex-column align-items-center">

            <!-- Display the uploaded scan if available -->
            {% if scanned_file_url %}
                <div class="text-center">
                    <img src="{{ scanned_file_url }}" alt="Uploaded Scan" class="img-fluid rounded shadow-sm">
                </div>
            {% endif %}

            <!-- File upload form -->
            {% if scanned_file_url %}
                <h2 class="mt-4 mb-1">Choose Image to Scan:</h2>
            {% else %}
                <h2 class="mb-3">Choose Image to Scan:</h2>
            {% endif %}
            <form method="POST" enctype="multipart/form-data" class="w-100 px-3">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="scanned_file" class="form-label fw-bold">Select file to scan:</label>
                    <input type="file" class="form-control" name="scanned_file" id="scanned_file" accept="image/*,application/dicom">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Upload and Predict</button>
                </div>
            </form>

        </div>

        <!-- Prediction and Assignment Section -->
        <div class="col-sm-5 d-flex flex-column align-items-center">
            <h2 class="mb-3">Prediction:</h2>

            <!-- Results -->
            {% if result %}
                <h4 class="text-primary">{{ result }}</h4>
                <ul class="list-unstyled">
                    {% if result == "Brain Tumor Detected" %}
                        <li>
                            <strong>Tumor Detection Confidence: {{ result_confidence }}</strong>
                        </li>
                        <li>
                            Tumor Absence Confidence: {{ other_confidence }}
                        </li>
                    {% else %}
                        <li>
                            <strong>Tumor Absence Confidence: {{ result_confidence }}</strong>
                        </li>
                        <li>
                            Tumor Detection Confidence: {{ other_confidence }}
                        </li>
                    {% endif %}
                </ul>

                {% if tumor_results %}
                    {% if result == "Brain Tumor Detected" %}
                        <h4 class="mt-3">Possible Tumor Types:</h4>
                        <ul class="list-unstyled">
                            {% with tumor_results|dictsort:"confidence"|last as highest_confidence %}
                                {% for tumor in tumor_results %}
                                    <li>
                                        {% if tumor == highest_confidence %}
                                            <strong>{{ tumor.type }}: <span class="text-success">{{ tumor.confidence }}</span></strong>
                                        {% else %}
                                            {{ tumor.type }}: <span class="text-success">{{ tumor.confidence }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        </ul>
                    {% else %}
                        <h4 class="mt-3 text-center">Potential Tumor Types Based on the Detection Confidence of {{ other_confidence }}:</h4>
                        <ul class="list-unstyled">
                            {% with tumor_results|dictsort:"confidence"|last as highest_confidence %}
                                {% for tumor in tumor_results %}
                                    <li>
                                        {% if tumor == highest_confidence %}
                                            <strong>{{ tumor.type }}: <span class="text-secondary">{{ tumor.confidence }}</span></strong>
                                        {% else %}
                                            {{ tumor.type }}: <span class="text-secondary">{{ tumor.confidence }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        </ul>
                    {% endif %}
                {% endif %}

                <!-- Assignment Section -->
                <h2 class="mt-4 mb-3">Assign Scan to Patient:</h2>
                <form method="post" class="w-100 px-3">
                    {% csrf_token %}
                    <input type="hidden" name="filename" value="{{ filename }}">
                    <input type="hidden" name="result" value="{{ result }}">
                    <input type="hidden" name="result_confidence" value="{{ result_confidence }}">
                    <input type="hidden" name="other_confidence" value="{{ other_confidence }}">
                    <input type="hidden" name="tumor_results" value="{{ tumor_results }}">

                    <div class="form-group mb-3">
                        <label for="patient_id" class="form-label fw-bold">Select Patient:</label>
                        <select name="patient_id" id="patient-dropdown" class="form-select" required>
                            {% for patient in patients %}
                                <option value="{{ patient.id }}">{{ patient.get_full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="d-grid">
                        <button type="submit" name="assign_scan" value="true" class="btn btn-primary btn-block">Assign Scan</button>
                    </div>
                </form>
            {% endif %}

        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        $('#patient-dropdown').select2({
            placeholder: "Search for a patient",
            width: '100%'
        });
    });
</script>


{% endblock %}