{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 mb-5">

    <h2 class="text-primary text-center fw-bold mb-5">Upload New Scan for Tumor Prediction</h2>

    <div class="row justify-content-around border rounded shadow-sm p-4">

        <!-- Upload Section -->
        <div class="col-sm-5 d-flex flex-column align-items-center">

            <div id="upload-section-title" class="text-center mb-3">
                {% if scanned_file_url %}
                    <h4 class="text-primary">Image Scanned:</h4>
                {% else %}
                    <h4 class="text-primary">Choose Image to Scan:</h4>
                {% endif %}
            </div>

            <!-- Display the Uploaded Scan -->
            {% if scanned_file_url %}
                <div id="upload-section-image" class="px-4 py-4 border rounded w-100 bg-white d-flex align-items-center justify-content-center shadow-sm mb-4" style="width: 450px; height: 350px;">
                    <img src="{{ scanned_file_url }}" alt="Uploaded Scan" class="img-fluid rounded shadow-sm" style="max-width: 425px; max-height: 325px;">
                </div>
            {% endif %}

            <!-- File Upload Form -->
            {% if scanned_file_url %}
                <h4 class="text-center text-primary mb-3 mt-3">Upload & Scan Another Image:</h4>
            {% endif %}
            <div class="px-4 py-4 border rounded w-100 bg-white shadow-sm">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="scanned_file" class="form-label fw-bold">Select file:</label>
                        <input type="file" class="form-control" name="scanned_file" id="scanned_file" accept="image/*,application/dicom">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">Upload and Predict</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Results (Prediction and Assignment) Section -->
        <div class="col-sm-5 d-flex flex-column align-items-center">

            <div id="result-section-title" class="text-center mb-3">
                <h4 class="text-primary">Prediction Results</h4>
            </div>

            <!-- Results -->
            {% if result %}
                <div id="result-section-information" class="d-flex flex-column align-items-center justify-content-center border rounded shadow-sm mb-4 bg-white" style="width: 450px; height: 350px;">
                    <h5 class="text-primary text-center fw-bold mb-2">{{ result }}</h5>
                    <ul class="list-unstyled">
                        {% if result == "Brain Tumor Detected" %}
                            <li>
                                <strong>Tumor Detection Confidence: {{ result_confidence }}</strong>
                            </li>
                            <li>
                                Tumor Absence Confidence: {{ other_confidence }}
                            </li>
                        {% else %}
                            <li>
                                <strong>Tumor Absence Confidence: {{ result_confidence }}</strong>
                            </li>
                            <li>
                                Tumor Detection Confidence: {{ other_confidence }}
                            </li>
                        {% endif %}
                    </ul>

                    {% if tumor_results %}
                        {% if result == "Brain Tumor Detected" %}
                        <h5 class="text-primary mt-4">Possible Tumor Types:</h5>
                            <ul class="list-unstyled">
                                {% with tumor_results|dictsort:"confidence"|last as highest_confidence %}
                                    {% for tumor in tumor_results %}
                                        <li>
                                            {% if tumor == highest_confidence %}
                                                <strong>{{ tumor.type }}: <span class="text-success">{{ tumor.confidence }}</span></strong>
                                            {% else %}
                                                {{ tumor.type }}: <span class="text-success">{{ tumor.confidence }}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                {% endwith %}
                            </ul>
                        {% else %}
                            <h5 class="text-primary text-center mt-4">Potential Tumor Types Based on the Detection Confidence of {{ other_confidence }}:</h5>
                            <ul class="list-unstyled">
                                {% with tumor_results|dictsort:"confidence"|last as highest_confidence %}
                                    {% for tumor in tumor_results %}
                                        <li>
                                            {% if tumor == highest_confidence %}
                                                <strong>{{ tumor.type }}: <span class="text-secondary">{{ tumor.confidence }}</span></strong>
                                            {% else %}
                                                {{ tumor.type }}: <span class="text-secondary">{{ tumor.confidence }}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                {% endwith %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                <p class="text-muted text-center">There are no predictions to display.</p>
            {% endif %}

            <!-- Assignment Form -->
            {% if result %}
                <h4 class="text-primary mb-3 mt-3">Assign Scan to Patient:</h4>
                <div class="px-4 py-4 border rounded w-100 bg-white shadow-sm">
                    <form id="result-assignment-form" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="filename" value="{{ filename }}">
                        <input type="hidden" name="result" value="{{ result }}">
                        <input type="hidden" name="result_confidence" value="{{ result_confidence }}">
                        <input type="hidden" name="other_confidence" value="{{ other_confidence }}">
                        <input type="hidden" name="tumor_results" value="{{ tumor_results }}">

                        <div class="form-group mb-3">
                            <label for="patient_id" class="form-label fw-bold">Select patient:</label>
                            <select name="patient_id" id="patient-dropdown" class="form-select" required>
                                {% for patient in patients %}
                                    <option value="{{ patient.id }}">{{ patient.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="d-grid">
                            <button type="submit" name="assign_scan" value="true" class="btn btn-primary btn-block">Assign Scan</button>
                        </div>
                    </form>
                </div>
            {% endif %}

        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        $('#patient-dropdown').select2({
            placeholder: "Search for a patient",
            width: '100%'
        });
    });
</script>


{% endblock %}