{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 mb-4">

    <h2 class="mb-4">{{ patient }}'s File </h2>

    <div class="row bg-light justify-content-around rounded shadow-sm p-4">

        <!-- Most Recent Scan (Image) Section with Predictions -->
        <div class="col-sm-5 d-flex flex-column border-end border-2">

            <!-- Most Recent Scan-->
            <div class="mb-2">
                <h3 class="mb-2">Most Recent Scan:</h3>
                {% if latest_scan %}
                    <img class="img-fluid" src="{% url 'secure_patient_image' patient.id latest_scan.file_name %}" alt='Latest scan'>
                {% else %}
                    <p>No recent scan available.</p>
                {% endif %}
            </div>

            <!-- Prediction Scan -->
            <div class="d-flex flex-column border border-2 rounded p-3 mb-4">
                <h3>Prediction Result:</h3>
                {% if latest_scan.prediction %}

                <div class="row">

                    <div class="col-md-6">
                        <p class="mb-1">{{ latest_scan.prediction.0 }}</p>
                        <ul>
                            {% if latest_scan.prediction.0 == "Brain Tumor Detected" %}
                                <li>
                                    Detection Confidence: {{ latest_scan.prediction.1 }}
                                </li>
                                <li>
                                    No Tumor Confidence: {{ latest_scan.prediction.2 }}
                                </li>
                            {% else %}
                                <li>
                                    No Tumor Confidence: {{ latest_scan.prediction.1 }}
                                </li>
                                <li>
                                    Tumor Detection Confidence: {{ latest_scan.prediction.2 }}
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <p class="mb-1">Possible Tumor Types:</p>
                        {% if formatted_tumor_results  %}
                            <ul>
                                {% for each in formatted_tumor_results %}
                                    <li>{{ each }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
                {% else %}
                    <p>No Predictions Available</p>
                {% endif %}
            </div>


            <!-- File upload form -->
<!--            <div class="mb-3">-->
<!--                <h3>Upload New Scan:</h3>-->
<!--                <form method="POST" enctype="multipart/form-data">-->
<!--                    {% csrf_token %}-->
<!--                    <div class="form-group mb-3">-->
<!--                        <input type="file" class="form-control "name="scan_file" id="scan_file" accept="image/*,application/dicom">-->
<!--                        <button type="submit" class="btn btn-primary btn-block">Upload and Predict</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

            <!-- View All Files -->
            <div>
                <a href="{% url 'all_files' patient.id %}">
                    <button class="btn btn-primary btn-block">View All Scans</button>
                </a>
            </div>

        </div>

        <!-- Patient Notes -->
        <div class="col-sm-4 d-flex flex-column border-end border-2">
            {% include 'partials/notes_partial.html' %}
        </div>

        <!-- Patient Information -->
        <div class="col-sm-3 d-flex flex-column">
            <h3 class="mb-2">Patient Information</h3>
                <ul>
                    <li>
                        <p>Name: {{ patient.get_full_name }}</p>
                    </li>
                    <li>
                        <p>Email: <a href="mailto:{{ patient.email }}">{{ patient.email }}</a></p>
                    </li>
                    <li>
                        <p>Phone Number: {{ patient.phone_number }}</p>
                    </li>
                    <li>
                        <p>Address: {{patient.address }}</p>
                    </li>
            </ul>
        </div>
    </div>

    <!-- Back to Patient Search -->
    <a href="{% url 'patient_search' %}">
        <button class="btn btn-primary btn-block">Back to Patient Search</button>
    </a>

</div>

<script>
</script>

{% endblock %}