{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-4 mb-5">
    <!-- Title Section -->
    <div class="text-center mb-5">
        <h2 class="text-primary fw-bold">All Patients</h2>
    </div>

    <!-- Search Bar -->
    <div class="mb-4">
        <form method="get" action="{% url 'patient_search' %}" class="d-flex">
            <input type="text" name="q" placeholder="Search patients by first, last, or full name..." value="{{ search_query }}" class="form-control shadow-sm">
            <button type="submit" class="btn btn-primary ms-2 px-4 shadow-sm">Search</button>
        </form>
    </div>

    {% if patients %}
    <!-- Patient List -->
        <ul class="list-group shadow-sm">
            {% for patient in patients %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <!--Patient Name-->
                    <div class="fw-semibold text-dark">
                        {{ patient }}
                    </div>

                    <!-- View File Button -->
                    <a href="{% url 'patient_file' patient.id %}" class="btn btn-primary px-3">
                        View File
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <!-- Empty State -->
        <p class="text-muted text-center">There are no patients in the system at the moment.</p>
    {% endif %}

</div>
{% endblock %}